#main_header {
    height: 45px;
    background: url(../imgs/line.png);
    /* ('../imgs/line.png'); */
    position: relative;
    text-align: center;
    line-height: 45px;
}

#main_header>h1 {
    color: white;
}

/* 버튼과 햄버거 위치 설정 */
a.left,
label.right {
    position: absolute;
    display: block;
    height: 32px;
}

a.feft {
    width: 62px;
    left: 5px;
    top: 7px;
    background: url(../imgs/sprite.png);
    background-position: 0 0;
    text-indent: -9999px;
    /* 글자숨김처리 */
}

label.right {
    width: 32px;
    left: 5px;
    top: 7px;
    background: url(../imgs/sprite.png);
    background-position: -62 0;
    text-indent: -9999px;
}
/* 토글구현 */
#toggle {
    display: none;
}

#toggle+#wrap>#toggle_gnb_wrap {
    display: none;
}

#toggle:checked+#wrap>#toggle_gnb_wrap {
    display: block;
}


/* 토글네비게이션바 디자인 */










#toggle_gnb_wrap::after {
    background-color: black;
    padding: 15px;
}

#toggle_gnb {
    background: white;
    padding: 5px;
}

#toggle_gnb>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

#toggle_gnb>ul>li {
    width: 100px;
    text-align: center;
}

#toggle_gnb>ul>li>a {
    display: block;
    padding: 5px;
}

/* top gnb디자인 */
#top_gnb {
    display: flex;
    border-bottom: 1px solid black;
    background: tomato;
}

#top_gnb div {
    flex: 1;
    text-align:center;
}
#top_gnb a {
    display: block;
    color: white;
    padding: 10px;
}
/* bottom gnb */
#bottom_gnb{
    background-color: ivory;
    display: table;
    width:100%;
    border: 1px solid;
}
#bottom_gnb>div{
    display: table-cell;
    /* td역할 */
}
#bottom_gnb>div>a{
    display: block;
    text-align: center;
    color:black;
    padding:10px;
    position: relative;
}

/* 버튼에 테두리로 그룹핑 효과 주기 */
#bottom_gnb>div>a:before{
    content:'';
    display: block;
    position: absolute;
    top:9px;
    left:-1px;
    border: 1px solid black;
    width:1px;
    height:15px;
}

/* 본문디자인
여백의 미, 색상, 글자크기 */
#main_section{
    padding:10px;
    border:1px solid;
}
#section_article>p{
    text-align: justify;
    hyphens: auto;
    margin:10px;
}
#section_article>p::first-letter{
    font-size: 1.5em;
    font-weight: bold;
}
#main_footer{
    padding:10px;
    border-top:3px solid;
    text-align: center;
    background: black;
}
#main_footer>*{ color:white;}