ul {
    width: 600px;
    margin: auto;
 }
ul a {
    display: block;
    padding: 10px;
}
ul>li{ 
    display: inline-block ;
}
ol{ 
    display: none;
    position: absolute;
}
ul>li{ 
    position: relative;
}