h1 {
    width: 900px;
    margin: auto;
    background-color: red;
    color: white;
    letter-spacing: 10px;
    padding: 10px;
    text-align: center;
    border: 5px solid gray;
    border-radius: 4px;
    font-family: serif;
    text-shadow: 1px 1px black;
}

section {
    width: 900px;
    margin: auto;
}

[class*=box] {
    float: left;
    border: 2px solid black;
    width: 250px;
    margin: 10px;
    padding: 10px;
    line-height: 2;
    height: 330px;
    box-sizing: border-box;
    box-shadow: 3px 4px gray;
}

[class=row] {
    overflow: hidden;
    margin: 20px 10px;
    /* height:300px; */
    padding-left: 50px;
}

h2 {
    text-align: center;
    border-bottom: 3px solid red;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

ul>li {
    text-indent: 30px;
    position: relative;
}
ul>li::before{
    content:'\1f644';
    position: absolute;
    left:-25px; top:0;
}
ul>li:hover{
    background: lightgray;
    cursor: pointer;
    text-indent: 40px;
    transition:1s;
}
.box:hover{
    transform:scale(1.1);
    transition:1s;
}
ul>li:hover:before{
    content:'\1f60a';
}
.row{
overflow: visible ;
}
.row:after{
    content:''; 
    display:block; 
    clear:both;
}
/* 데스크탑 버전 */
@media screen and (min-width:1024px){

    h1 {
        width: 900px;
        margin: auto;
        background-color: red;
        color: white;
        letter-spacing: 10px;
        padding: 10px;
        text-align: center;
        border: 5px solid gray;
        border-radius: 4px;
        font-family: serif;
        text-shadow: 1px 1px black;
    }
    
    section {
        width: 900px;
        margin: auto;
    }
    
    [class*=box] {
        float: left;
        border: 2px solid black;
        width: 250px;
        margin: 10px;
        padding: 10px;
        line-height: 2;
        height: 330px;
        box-sizing: border-box;
        box-shadow: 3px 4px gray;
    }
    
    [class=row] {
        overflow: hidden;
        margin: 20px 10px;
        /* height:300px; */
        padding-left: 50px;
    }
    
    h2 {
        text-align: center;
        border-bottom: 3px solid red;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    ul>li {
        text-indent: 30px;
        position: relative;
    }
    ul>li::before{
        content:'\1f644';
        position: absolute;
        left:-25px; top:0;
    }
    ul>li:hover{
        background: lightgray;
        cursor: pointer;
        text-indent: 40px;
        transition:1s;
    }
    .box:hover{
        transform:scale(1.1);
        transition:1s;
    }
    ul>li:hover:before{
        content:'\1f60a';
    }
    .row{
    overflow: visible ;
    }
    .row:after{
        content:''; 
        display:block; 
        clear:both;
    }
}
/* 테블릿버전 */
@media (min-width:768px) and (max-width:1023px)
{

    h1 {
        width: 100%;
        margin: auto;
        background-color: red;
        color: white;
        letter-spacing: 10px;
        padding: 10px;
        text-align: center;
        text-transform: capitalize;
        border: 5px solid gray;
        border-radius: 4px;
        font-family: serif;
        text-shadow: 1px 1px black;
    }
    
    section {
        width: 100%;
        margin: auto;
        position: relative;
        height: 550px;
    }
    
    [class*=box] {
        /* float: left; */
        position: absolute;
        border: 2px solid black;
        width: 28%;
        margin: 10px;
        padding: 10px;
        /* line-height: auto;  이거맞나?? */
        height: 330px;
        box-sizing: border-box;
        box-shadow: 3px 4px gray;
    }
    
    [class=row] {
        /* overflow: hidden; */
        margin: 20px 10px;
        /* height:300px; */
        padding-left: 50px;
    }
    
    h2 {
        text-align: center;
        border-bottom: 3px solid red;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    ul>li {
        text-indent: 30px;
        position: relative;
    }
    ul>li::before{
        content:'\1f644';
        position: absolute;
        left:-25px; top:0;
    }
    ul>li:hover{
        background: lightgray;
        cursor: pointer;
        text-indent: 40px;
        transition:1s;
    }
    .box:hover{
        transform:scale(1.1);
        transition:1s;
    }
    ul>li:hover:before{
        content:'\1f60a';
    }
    .row{
    overflow: visible ;
    }
    .row:after{
        content:''; 
        display:block; 
        clear:both;
    }
    section{ height: 600px;}
    #toefl{background: gold;}
    #toeic{left:250px; top:150px; background: silver;}
    #english{left:400px; top:250px; background:pink;}
    #japanese{left:550px; top:100px; background: tan;}
    #academy{left: 700px; top: 0px; background: ivory;}
    .box:hover{z-index:1;}
}
/* 테블릿끝 */


/* 모바일 */
@media screen and (max-width:767x) {
    /* 1단 */
 
    h1 {
        /* width: 100%; */
        margin: 20px auto;
        background-color: red;
        color: white;
        letter-spacing: 10px;
        padding: 10px;
        text-align: center;
        border: 5px solid gray;
        border-radius: 4px;
        font-family: serif;
        text-shadow: 1px 1px black;
    }
    
    section {
        /* width: 100%; */
        margin: auto;
        /* position: relative;
        height: 550px; */
    }
    
    [class*=box] {
        /* float: left; */
        position: absolute;
        border: 2px solid black;
        /* width: 250px; */
        margin: 10px;
        padding: 10px;
        line-height: 2;
        /* height: 330px; */
        box-sizing: border-box;
        box-shadow: 3px 4px gray;
    }
    
    [class=row] {
        /* overflow: hidden; */
        margin: 20px 10px;
        /* height:300px; */
        padding-left: 50px;
    }
    
    h2 {
        text-align: center;
        border-bottom: 3px solid red;
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    
    ul>li {
        text-indent: 25px;
        position: relative;
    }
    ul>li::before{
        content:'\1f644';
        position: absolute;
        left:-25px; top:0;
    }
    ul>li:hover{
        background: lightgray;
        cursor: pointer;
        text-indent: 40px;
        transition:1s;
    }
    .box:hover{
        transform:scale(1.1);
        transition:1s;
    }
    ul>li:hover:before{
        content:'\1f60a';
    }
    /* .row{
    overflow: visible ;
    } */
    /* .row:after{
        content:''; 
        display:block; 
        clear:both;
    } */
    /* section{ height: 600px;} */
    #toefl{background: gold;}
    #toeic{left:20%; top:150px; background: silver;}
    #english{left:30%; top:250px; background:pink;}
    #japanese{left:45%; top:100px; background: tan;}
    #academy{left: 60%; top: 0px; background: ivory;}
    .box:hover{z-index:1;}
}
/* 모바일끝 */
 

