@charset "UTF-8";
/* 여러줄 주석은 볼 수 있습니다. */
nav {
  background: pink;
  padding: 10px;
  height: 50;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
nav ul li {
  color: white;
  margin-right: 10px;
}

/*2*/
.background-img {
  width: 100%;
  height: auto;
  background-image: url(../imgs/cat.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  transition: 1s;
}
.box:hover {
  background-color: blue;
}

.one {
  color: lime;
}
.one .two {
  color: blue;
}
.one .two .three {
  color: pink;
}
p {
  color: red;
}

h1 {
  color: red;
  font-size: 32px;
}
h1 span {
  color: blue;
}

p {
  text-align: left;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.one li {
  margin-right: 20px;
}

.two {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.two li {
  margin-right: 20px;
}

.three {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  font-size: 20px;
  background-color: red;
}
.three li {
  margin-right: 30px;
}

.profile-user, .comment-user {
  background-image: url();
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.follow-button {
  width: 133px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.follow-button {
  color: red;
  border: 3px solid blue;
}

.square-av {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.circle-av {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.banner {
  background-color: #f2ece4;
  color: #036;
}
body.dark .banner {
  background-color: #6b717f;
  color: #d2e1dd;
}

.one {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 5px;
}

.two {
  width: 10;
  height: 10;
  background-color: red;
  border-radius: 5;
}

.three {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 2px;
}

.four {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 2px;
}

.five {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 2px;
}

.six {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 2px;
}

.next {
  height: 0;
  width: 0;
  border-color: transparent;
  border-width: 2.5px;
  border-left-color: black;
}

.photo-box:nth-child(1) {
  background-image: url("abc1.png");
}

.photo-box:nth-child(2) {
  background-image: url("abc2.png");
}

.photo-box:nth-child(3) {
  background-image: url("abc3.png");
}

.photo-box:nth-child(4) {
  background-image: url("abc4.png");
}

.photo-box:nth-child(5) {
  background-image: url("abc5.png");
}

.color-circle:nth-child(1) {
  background: red;
}

.color-circle:nth-child(2) {
  background: blue;
}

.color-circle:nth-child(3) {
  background: green;
}

.color-circle:nth-child(4) {
  background: white;
}

.color-circle:nth-child(5) {
  background: black;
}

.content-8 {
  width: 100px;
  height: 100px;
  background: gold;
}

.content-6 {
  width: 100px;
  height: 100px;
  background: gold;
}

.content-4 {
  width: 100px;
  height: 100px;
  background: gold;
}

.content-2 {
  width: 100px;
  height: 100px;
  background: gold;
}

.content-0 {
  width: 100px;
  height: 100px;
  background: gold;
}

.sub {
  font-size: 7.8125px;
}

.sidebar {
  margin-left: 64px;
  font-size: 30px;
}/*# sourceMappingURL=style.css.map */