*{margin: 0; padding: 0;}
a { text-decoration: none;
color:black}
li{ list-style: none;}
table{
    border-collapse: collapse;}
a:link{ color: black;}
a:hover{ text-decoration: none;}
a:active{ color: gray;}
/* a:visited{ color: green;} */

table{
    border-collapse: collapse;
    border-spacing: 0;
}