@import url('../css/aside.css');

header {
    width: 955px; margin: auto;
    height: 108px; border: 1px solid;
    /* font-family: 'Henny Penny', cursive; */
    position: relative;
}
hgroup{
    position: absolute;
    font-family:  'Henny Penny';
    left: 10px; top:5px;
}
.main_gnb{
    position: absolute;
    right: 5px;
    top: 5px;
    /* border:1px solid black; */
    }
.main_gnb a{
    border: 1px solid;
    padding: 5px 2px;
}

.main_gnb li{
    float: left; 
    /* 왜? */
}
.main_gnb li {
    display: block;
}
.local_lnb{
    display: flex;
    /* 왜? */
    position: absolute;
    right: 10px;
    bottom: 2px;
}
.local_lnb li{
    flex: 1;
    /* 왜? */
}
.local_lnb li a{
    display: block;
    padding: 5px 10px;
    border: 1px solid;
}






.main_gnb>li:not(:last-child)>a{
    border-right: 0;
}
.main_gnb>li:first-child>a{
    border-radius: 8px 0 0 8px;
}
.main_gnb>li:last-child>a{
    border-radius: 0px 8px 8px 0px;
}
.main_gnb>li:hover>a{
    background-color: black;
    color: white;
}



/* 로컬메뉴 */

.local_lnb>li:not(:last-child)>a{
    border-right: 0;
}
.local_lnb>li:first-child>a{
    border-radius: 8px 0 0 8px;
}
.local_lnb>li:last-child>a{
    border-radius: 0px 8px 8px 0px;
}
.local_lnb>li:hover>a{
    background-color: black;
    color: white;
}



/* 컨텐츠배치 */
#content{
    width: 960px;
    margin: auto;
    overflow: hidden;
    /* overflow: hidden;의 용도는? */
}
#content>section, #content>aside{
    float: left;
    border: 1px solid;
    box-sizing: border-box;
}
#content>aside{width: 200px;}
#content>section{
    width:760px;
    padding: 10px;
}
#content>section>article{
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}
article>p{
    text-align: justify;
    hyphens:auto;
}
footer{
    border: 1px solid;
    width: 960px;
    margin:auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
#content{
    border:1px solid gray;
}
article>p::first-letter{
    font-size: 2em;
    font-weight: bold;
}

/* ski_nav */
.ski_nav a{
    position: absolute;
    top: -150px;
    left:0;
    background: #000;
    height: 30px;
    line-height: 30px;
    color: white;
    padding: 0 10px;
}
.ski_nav a:focus{
    top:0;
}