/* 1. 탭메뉴의 a태그를 박스처리한다.
2. 탭메뉴의 li태그는 float처리한다.
3. 부모태그인 ul은 float해제 처리한다.
(5가지 공식)
4.탭컨텐츠는 숨김처리한다.
5. :target으로 제어한다. */

a{
    display:block; 
    padding: 10px 0;
    font: bold 16px "Helveti ca";
    color: darkred;
    background: #eee;
    text-align: center;
}
ul>li{float:left; height: 40px;}
ul{border:o.5px solid lightgray;
height: 40px;}
section{margin:20px;}
ul>li{width:20%;
    box-sizing: border-box
    /* width:calc(100%/3); */
}

/* ul>li:ntj-child(1){
    border-right: 1px solid red;
}
ul>li:nth-child(2){
    border-right: 1px solid red;
} */

/* 마지막li를 제외한 나머지를 선택을 해서 우측에 테두리를 준다. */

ul>li:not(:last-child){
    border-right:1px solid lightgray
}

p{
padding:5px;
height: auto;
text-align: center;
font-weight:bold;
border-left: 3px solid black;
border-right: 3px soilid black;
border-bottom: 3px solid black;
}

/* 디자인종료후 클릭했을때 컨텐츠 보이는 효과주기
탭메뉴 구현하기 p태그를 숨기고 메뉴를 클릭할때 보이면된다. */

div>p{display:none;}
div>p:target{display: block;}
ul>li:hover>a{background: rgb(177, 175, 165)}

/* 이미지 크기조절 */
p>img{width:120px; height:150px; margin:10px;}
ul>li>a{border-bottom:3px solid black;
box-sizing: border-box;}
ul>li:hover>a{
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right:3px solid black;
    border-bottom:0px;}

/* 메뉴활성화정의 */
.active{
        border-top: 3px solid black;
    border-left: 3px solid black;
    border-right:3px solid black;
    border-bottom:0px;
}