label {
    border: 1px solid blue;
    width: 20px;
    display: block;
    margin: 20px;
    cursor: pointer;
    /* 마우스손모양 */
}

label span {
    display: block;
    height: 3px;
    background: blue;
    border-radius: 2px;
    margin: 3px auto;
    width: 90%;
}

/* 박스제어하기 */
ul {
    display: none;
}

input:checked+ul {
    display: block;
}

ul>li>a:before {
    content: '\1F60A';
}

/* 서브메뉴디자인및 구현 */
ul {
    position: relative;
    width: 200px;
}

ul>li {
    background: green;
    font-weight: bold;
    padding: 5px;
}

ul>li:not(:last-child) {
    /* border-bottom: 0.1px dashed white; */
    box-shadow: 1px 1px 1px 1px white;
}

ul>li {
    text-indent: 15px;
}

ul>li>a {
    color: white !important;
    display: block;
}

div.sub {
    position: absolute;
    left: 100%;
    top: 0;
}
