/* 전체화면구현하기 */
html,
body {
    width: 100%;
    height: 100%;
    background: url(../imgs/자연2.jpg);
    background-size: cover;

}

/* 비디오 풀스크린으로 구현하기 */
video {
    width: 100%;
    height: 100%;  
    object-fit: fill;
    object-fit: cover;

}
header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    /* width:100%와  동일 */
    background: none;
    height: 100px;
    border-bottom: 1px solid gray;
    box-shadow: 0 1px 3px gray;
    z-index: 10;
}
#wrap_head{
    position: absolute;
    width:100%; height: 100%;
    left:0; top:0;
}
header:hover{
    background: white;
}
header h1{
    position: absolute;
    left: 20px; top: 30px;
    color:white; text-shadow :1px 1px black;
}
/* 서브메뉴숨기기 */
nav>ul ol {display: none;}

/* 메인메뉴 위치 조정하기 */
nav {
    position: absolute; left: 300px; top: 50px;
}
/* 메뉴수평정렬하기-flex */
nav ul{ display: flex;}

/* a태그 박스처리하고 영역확장하기-여백의미 */
nav ul>li>a{
    display: block; padding:10px;
    font-weight:bold; color: white;
    text-shadow: 1px 1px gray;
}
nav ul>li>a:visited{
    color: white;
}
/* 헤더에 마우스 올릴때 글자 검정
색을 스타일 주기 */
header:hover *{color:black !important;
text-shadow: 0 1px gray;
}
/* 메인메뉴 수정하기 */
nav{
    font-size: 1.3em; width: 600px;
    left: 400px;
}
nav ul>li{
    flex:1;
}

/* 서브메뉴 구현하기 */
ul ol{
    position: absolute;
    top: 100px;
    left:0;
    /* display: flex; !important; 
    background:white;*/


}
ul>li:hover>ol{
    display: flex;
    background: white;
    height: 50px;
    width: 100%;
}
/* navi위치 수정하기 */
nav{
    position: static;
    margin-left: 400px; margin-top: 20px;
    /* border: 1px solid white; */
}
/* 서브메뉴 위치조정하기 */
ol a{
    display: block; padding:10px; 
}
ul>li:nth-child(1)>ol{ padding-left:300px;}
ul>li:nth-child(2)>ol{ padding-left:400px;}
ul>li:nth-child(3)>ol{ padding-left:500px;}
ul>li:nth-child(4)>ol{ padding-left:700px;}

/* 서브매뉴 도망못가세 하기 */
nav li{
    padding-bottom: 50px;
}