.box{
    width: 100px;
    height: 100px;
border: 1px solid black;
}
#box1{
    margin:10px 2px;
}
#box1{ margin: 10px 20px;}
#box2{ margin: 20px 40px;}
#box3{ margin: 30px 60px;}
#mama{ width: 95%; border: 5px solid red; margin:auto;
max-width:1000px;
min-width:700px;}

#mama p{ border: 5px solid blue;
width:100%;
box-sizing: border-box;
/* box-sizing: content-box; */
padding: 20px 50px;
text-align: center;
}
#box1{
    border:5px solid black;
    border-width: 10;
    border-left-style: dashed;
    border-right-color:red;
    border-top-style: double;
    border-bottom-width:20px;
    border-bottom-color:orange;
border-width: thick thin medium;
}
#box2{
    width:1; height:1;
    border:90px solid orange;
border-left-color: rgb(189, 79, 79);
border-right-color: rgb(77, 77, 223);
border-top-color: rgb(223, 178, 95);
border-bottom-color: rgb(104, 164, 204);
outline-width: 20px;

}
#box2:hover{
    border-left-color: gold;
}
#box2:active{ 
    border-top-color: red;
    outline-style:dotted;

}
#box3{
    border:5px solid blue;
    outline:5px solid red;
    outline-offset: 10px;
    outline-width: 20px;
}
#box3:hover{
outline:10px double orange;
outline-offset:10px;
outline-style:dotted;
outline-width: 20px;
outline-color: orange;
}

.box{ 
    border-radius:10px 50px 30% 40%;

}
#box2{ text-align: center;}

#mama p{
    font-size: 20PX;
    text-stroke: 3px red;
}
#mama p:hover{
-webkit-text-stroke: 1px red;
}
input, button{ padding: 10px; }