.switch {
    margin: 50px;
}

.input-on-off {
    display: none;
}

/* 스위치 디자인 */
.label-on-off {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    display: block;
    background: darkred;
    color: white;
    transition: 1s;
    font-weight: bold;
    line-height: 28px;
    text-indent: 7px;
}

/* 스위치버튼-marble */
.marble {
    position: absolute;
    left: 2px;
    top: 3px;
    display: block;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    transition: 0.5s;
}

/* on off 기능 구현하기 */
.input-on-off:checked+.label-on-off>.marble {
    left: 33px;
}

.switch span {
    font-size: 14px;
    text-transform: capitalize;
}

.input-on-off:checked+.label-on-off {
    background: limegreen;
}

.input-on-off:checked+.label-on-off>.off {
    display: none;
}

.switch {
    overflow: hidden;
}

.input-on-off+.label-on-off>.on {
    visibility: hidden;
}

.input-on-off:checked+.label-on-off>.on {
    visibility: visible;
}


/* 3단스위치 */
.switch2 {
    position: relative;
    width: 350px;
    padding: 0 16px;
    font-family: Verdana;
    margin: 0;
}

.switch_label {
    display: inline-block;
    width: 32px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-out;

}

.switch_indicator {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 3px;
    left: 0;
    background: steelblue;
    transition: 0.6s;
    transform: translate(16px, 0, 0);
    border-radius: 50%;
}

#one:checked~.switch_indicator {
    background: limegreen;
    transform: translate(30px);
}

#two:checked~.switch_indicator {
    background: pink;
    transform: translate(90px);
}

#three:checked~.switch_indicator {
    background: orange;
    transform: translate(170px);
}

.switch2 input {
    display: none;
}

.switch2 {
    background: black;
    border-radius: 30px;
    color: white;
    width: 220px;
}

.switch_label:hover {
    color: lightgray;
}


/* 모달창 구현하기 */
#modal {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.modal-body {
    width: 350px;
    height: 350px;
    border: 3px solid blue;
    box-shadow: 3px 3px 5px black;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 박스중앙에 배치하기 */
}

.btn {
    display: block;
    background: steelblue;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}
#modal img {
    width: 100%
}
#modal {
    display: none;
}
#modal:target {
    display: block;
}
/* 모달창 연습 */
#mo{
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modamodal {
    display: block;
    background: steelblue;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}
#momo .mo_mo {
    width: 100%
}
#mo {
    display: none;
}
#mo:target {
    display: block;
}