$color: red;
$margin: 5px;
$title-color: blue;

#box1 {
    color: $color;
}

#box2 {
    margin: $margin;
}

h1 {
    color: $title-color;
}

//네스팅 기법 
$font-size: 16px;
$font-family: serif;

body {
    color: $title-color;

    font: {
        size: $font-size;
        family: $font-family;
    }
}

ul {
    font-size: 20px;
    background: silver;
li{ float: left;
    a {
        color: red;
    }
}}

//& -> 자기 자신요소
ul {
    >li {
        border: 3px solid;
        margin: 10px;
    }

    & {
        border: 5px solid red;
        $top: 30px;
    }
}



ul {
    >li {
        border: 3px solid black;
        margin: $top;

        &:hover {
            background: gold;
        }
    }
}

#box1 {

    &,
    &-title {
        padding: 10px;
    }
}

#box #box2 {
    font-size: 20px;

    &>a {
        color: red;

        &:hover {
            color: blue;
        }
    }

}

.box1 {
    .box2 {
        .box3 {
            padding: 20px;
            background: lavender;
        }
    }
}

.box1 {
    .box2 .box3 {
        padding: 40px;
        color: red;
    }
}

//media쿼리

#box1 {
    @media screen and (max-width:700px) {
        font-size: 30px;
        width: 50%;
    }
}

@media screen and (max-width:700px) {
    #box1 {
        font-size: 30px;
        width: 50%;
    }
}

div.box3 {
    &:hover {
        @media screen and (min-width:500px) {
            background: blue;
        }
    }
}

//@mixin함수, include함수명
@mixin test {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

@mixin clear {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

div {
    @include clear();
}

@mixin box($w, $h) {
    width: $w;
    height: $h;
}

header {
    @include box(10, 100);
    border: 3px solid;
}

@mixin pbox($w, $h, $b) {
    width:if(unitless($w), #{$w}px, $w);
    height:if(unitless($h), #{$h}px, $h);
    border-radius:if(unitless($b), #{$b}px, $b); 
}

.box1 {
    @include pbox(100, 50, 30);
}

.box1 {
    @include pbox(100, 50, 30);
}
//@extend
%name{
    font-size: 16px;
    color:blue;
}
@mixin name($bold, $color){
    font-weight: $bold;
    background-color:$olor;
}

// 반복문
@for $i from 1 through 5{
    div:nth-child(#{$i}){
        font-size: 10px * $i;
    }
}
//{} 보간문자
@each $var in book, zoom, phone {
    .ico_#{$var}{
        background:url(imgs/#{$var}.png);
    }
}
//,조건문
@mixin btn_radius($h, $radius:true){
height:$h;
line-height: $h;
@if $radius{
    border-radius: $h / 2;
}@else{
    border: 3px solid red;
}
}
.btn{
    @include btn_radius(30px, true )
}
.btn{
    @include btn_radius(30px, false)
}
