 section {
     width: 100px;
     height: 100px;
     border: 5px solid;
 }

 section>div {
     width: 100;
     height: 100px;
     background-color: red;
     transition: 1s;
     transform-origin: left bottom;
 }

 section:hover>div {
     transform: skew(15deg);
     transition: 1s;
 }

 /* 정육면체 */
 #cubic {
     width: 200px;
     height: 200px;
     position: relative;
 }
 #cubic>p{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.4;
    font-size: 50px;
    text-align: center;
    line-height: 200px;    
 }
 #cubic>p:nth-child(1){ background: red;}
 #cubic>p:nth-child(2){ background: blue;}
 #cubic>p:nth-child(3){ background: green;}
 #cubic>p:nth-child(4){ background: tomato;}
 #cubic>p:nth-child(5){ background: pink;}
 #cubic>p:nth-child(6){ background: steelblue;}
 /* 옆면 */
 #cubic>p:nth-child(1){ transform:  rotateY(0deg) translate3d(0,0,100px);}
 #cubic>p:nth-child(2){ transform:  rotateY(90deg) translate3d(0,0,100px);}
 #cubic>p:nth-child(3){  transform: rotateY(180deg) translate3d(0,0,100px);}
 #cubic>p:nth-child(4){  transform: rotateY(270deg) translate3d(0,0,100px);}
 /* 윗면과 아랫면 */
 #cubic>p:nth-child(5){ transform: rotateX(90deg) translate3d(0,0,100px); }
 #cubic>p:nth-child(6){ transform: rotateX(270deg) translate3d(0,0,100px); }

 #cubic{ transform-style: preserve-3d; margin: 150px;}
 #cubic>p{
    backface-visibility: visible;
 }
 body{ perspective:500px;}

 @keyframes cubic {
    from { transform: rotateX(0) rotate(1) rotate(3);}
    to { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);}
 }
 #cubic{
    animation: cubic 5s infinite;
}

