.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dee1e0;
    padding: 8px 100px;
    }
    .navbar_logo {
        font-size: 20px;
    }
    .menu {
        display: flex;
        
    }

    ul>li>a {
        font-size: 20px;
    }
    .menu1 {
        display: none;
    }
    
    ul a {      
        font-size: 12px;
        display: block;
        padding: 10px;
    }

   ul>li:hover ol {
    display: block;
    width: 100%;
   }